{
 "jsc": {
  "parser": {
   "syntax": "typescript",
   "tsx": false,
   "decorators": true,
   "dynamicImport": true
  },
  "target": "esnext",
  "baseUrl": "."
 },
 "module": {
  "type": "es6"
 }
}
