{
 "$schema": "https://swc.rs/schema.json",
 "jsc": {
  "parser": {
   "syntax": "typescript",
   "tsx": false,
   "decorators": true,
   "dynamicImport": true,
   "preserveAllComments": false,
   "topLevelAwait": true,
   "resolveFully": true
  },
  "target": "esnext"
 },
 "module": {
  "type": "es6"
 },
 "minify": true,
 "sourceMaps": true,
 "isModule": true
}
